<div [formGroup]="form">
  <mat-form-field
    appearance="fill"
    [ngSwitch]="question.controlType"
    #`${question.tooltipName}`="matTooltip"
    matTooltip="question.description"
    matTooltipPosition="right"
  >
    <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
    <input
      matInput
      [placeholder]="question.label"
      *ngSwitchCase="'textbox'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
      [required]="question.required"
    />
    <mat-select
      *ngSwitchCase="'dropdown'"
      [id]="question.key"
      [formControlName]="question.key"
      [required]="question.required"
    >
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon fontSet="material-icons-outlined">help_outline </mat-icon>
</div>
