<form [formGroup]="form">
  <mat-step [stepControl]="form">
    <ng-template matStepLabel>Options</ng-template>
    <div>
      <mat-form-field
        [ngSwitch]="option.controlType"
        appearance="fill"
        #changeMeToolTip="matTooltip"
        matTooltip="option.tooltip"
        matTooltipPosition="right"
      >
        <mat-label>{{ option.label }}</mat-label>
        <input
          matInput
          [placeholder]="option.placeholder"
          *ngSwitchCase="'textbox'"
          [formControlName]="option.key"
          [id]="option.key"
          [type]="option.type"
          [required]="option.required"
        />
        <select
          *ngSwitchCase="'dropdown'"
          [id]="option.key"
          [formControlName]="option.key"
        >
          <option *ngFor="let opt of option.options" [value]="opt.key">
            {{ opt.value }}
          </option>
        </select>
      </mat-form-field>
      <mat-icon
        fontSet="material-icons-outlined"
        (click)="changeMeToolTip.toggle()"
        >help_outline
      </mat-icon>
    </div>
  </mat-step>
</form>
