<mat-toolbar class="mat-elevation-z6" color="primary">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
    <div fxFlex="15%">
      <a
        class="navigation-logo"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
      >
        NGRX Forms</a
      >
    </div>
    <div fxFlex="75%" fxLayoutGap="10px">
      <nav>
        <a
          class="navigation-link"
          routerLink="/server-create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Add</a
        >
      </nav>
    </div>
    <div fxFlex="10%" fxLayoutAlign="end center"></div>
  </div>
</mat-toolbar>
