mat-toolbar {
  padding: 10px;
  margin-bottom: 20px;
}
mat-icon {
  vertical-align: middle;
}
a {
  color: lightgray;
}

a:hover,
a:active {
  color: darkgray;
}

.navigation-link {
  text-decoration: none;
  list-style: none;
  font-size: small;
}

.navigation-link.active {
  color: white;
}

.navigation-logo {
  text-decoration: none;
  font-size: large;
}

.navigation-logo.active {
  color: white;
}
